.moviesList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.movie {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  border: 1px solid red;
}
.movieTitle {
  width: 200px;
  padding: 5px;
}
.catigoriesList{
  max-width: 250px;
  display: flex;
  gap: 0px 5px;
  flex-wrap: wrap;
  
}
.catigoriesList li {
  
}